.container{
    display: flex;
    justify-content: center;
    padding: 1em;
    padding-top: 100px;
}


.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    min-width: 70%;
    min-height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}

.layout {
    padding-top: 100px;
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    margin: 1em;
    
}
.cntr{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom:0;
}
.buttons{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rows{
    display: flex;
    align-content: center;
}
.padcart{
    margin-left: 5px;
}
.marg{
    padding-top: 110px;
    margin:10px;
}
.line {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.txtgroup {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    flex-direction: row;
}
.arrows {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: baseline
}
.subtxt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
}
.cnt {
    display: flex;
    align-content: center;
    font-size: 1.2em;
    padding: .5em;
}
.rowpad{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.col{
    display: flex;
    flex-direction: column;
}
.empty{
    padding: 100px;
    text-align: center;
}
.carttitle{
    padding-right: 100px;
    margin-top: 30px;
}